*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	position: relative;
	display: block;
	background: #C87570;
	color: #381F38;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*-*/

header{
	position: relative;
	display: block;
	background: #271427;
	padding: 10px 0%;
	width: 90%;
	top: 0;
	left: 5%;
	text-align: center;
	margin-top: 70px;
	border-radius: 70px 70px 10px 10px;
}

header p{
	font-style: italic;
	color: #6BA9B1;

}
header p span{
	font-weight: bold;
	color: #EE405D;
}

/*-*/

		footer{
	position: relative;
	display: block;
	background: #271427;
	padding: 10px 0%;
	color: #fff;
	width: 90%;
	top: 0;
	left: 5%;
	text-align: center;
	border-radius: 10px 10px 70px 70px;
	margin-bottom: 70px;
}

footer p{
	font-style: italic;

}
footer p span{
	font-weight: bold;
}

/*-*/

.anim_kid {
	position: relative;
	display: inline-block;
	top: 40px;
	left: 40px;
	width: 500px;
	height: auto;
	/*border: 1px solid #000;*/
	text-align: center;
	margin-bottom: 30px	;
}

img{
	position: relative;
	display: inline-block;
	width: 100%;
}

.anim_kid figcaption{
	position: absolute;
	display: inline-block;
	bottom: 40px;
	left: 0px;
	z-index: 2000;
	width: 500px;
	height: auto;
}




section{
	position: relative;
	display: block;
	width: 90%;
	height: auto;
	margin: 10px auto ;
	background: rgb(255,241,232);
	border-radius: 10px;
	padding: 0 100px 50px;
}

h1{
	position: relative;
	display: block;
	vertical-align: top;
	top: 0px;
	left: 0px;
	font-size: 3rem;
	margin: auto auto;
}

h1 span{
	padding: 5px;
	position: relative;
	display: inline-block;
	padding: 0 1rem;
	border-radius: 5px;
}

h2{
	position: relative;
	display: block;
	vertical-align: top;
	top: 30px;
	left: 0px;
	font-size: 3rem;
	margin: auto auto 50px;
	font-weight: normal;
}

h2 span:nth-child(1){color: #EE405D;}
h2 span:nth-child(2){color: #654566;}


h1 span:nth-child(1){color: #fff; background: #EE405D; transform: rotate(4deg);}
h1 span:nth-child(2){color: #fff; background: #654566; transform: rotate(-3deg);}
h1 span:nth-child(3){color: #fff; background: #5F9BA7; transform: rotate(3deg);}
h1 span:nth-child(4){color: #fff; background: #F88A77; transform: rotate(-4deg);}

p{
	margin: 20px 0;
	max-width: 60ch;
}

p.one{color: #EE405D; }
p.two{color: #5F9BA7; }


ul{
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
	background-color: #90B8BD;
	border-radius: 10px;
	padding: 20px;
}

li{
	list-style: square;
	margin-left: 20px;
	margin-bottom: 15px;
	max-width: 50ch;
}

a{
	text-decoration: none;
	color:#5F9BA7;
}
